<section class="mt-6">
  <table class="table table-md w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.name; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img
            [src]="country.flagSvg"
            alt="Bandera de {{ country.name }}"
            class="w-10 h-6"
          />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>
