<section class="mt-6">
  <table class="table table-md w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.name; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img
            [src]="country.flagSvg"
            alt="Bandera de {{ country.name }}"
            class="h-6 w-auto shadow-sm"
          />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td class="badge badge-primary">
          {{ country.population | number }}
        </td>
        <td>
          <a
            [routerLink]="['/country/by', country.isoCode]"
            class="link link-primary"
          >
            Ver detalles
          </a>
        </td>
      </tr>

      }

      <!--  -->
      @if (errorMessage()) {
      <tr>
        <td colspan="8" class="text-center text-red-500">
          {{ errorMessage() }}
        </td>
      </tr>
      }

      <!--  -->
      @if (countries().length === 0 && !isLoading()) {
      <tr>
        <td colspan="8" class="text-center">No se encontraron países.</td>
      </tr>
      }

      <!--  -->
      @if (isLoading()) {
      <tr>
        <td colspan="8" class="text-center">
          <span class="loading loading-spinner loading-xl text-primary"></span>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
